PORT=443
MONGO="mongodb://localhost:27017/core"
MAINTENANCE=false
BOT_TOKEN="YOUR_TOKEN" 
ENABLE_LOGGING=true

## Ingame Options
SECTIONS="Core Bundle" # use as: Locker, Christmas for example. 
ENABLE_SHOP=false
WEEKLY=false # Unfinished, SHOULD work on seasons: S6, S7, S8, S9, S13

# Support a Creator
CREATORS="lunar, onbro"